<div class="row">
  <div class="main-content">
    <div class="col-sm-6">
      <img src="http://www.vangoghgallery.com/es/images/Van-Gogh_New-Template/prints-set1/print-starry-night.jpg" class="responsive-image">
    </div>
    <div class="col-sm-6">
		Maecenas sed arcu a lobortis, proin sapien ultricies consequatur tortor, aliquam porttitor non at justo sed non, massa at. Justo integer auctor, in sociis sed turpis magna elit curae, sit integer turpis sit, id volutpat nec massa, vivamus duis. Quam ut, non ipsum. Dicta quam, integer vitae accumsan urna et ante. Vestibulum condimentum, morbi dolor, elementum posuere eget nunc sed, egestas vitae sed dolore aliquam, ante lacus vestibulum.s
    </div>
  </div>
</div>