<div class="row">
  <div class="main-content">
    <div class="col-sm-6">
      <img src="http://www.tfsimon.com/vincent-van-gogh-a-couple-walking-in-the-forest.jpg" class="responsive-image">
    </div>
    <div class="col-sm-6">
		In aptent nibh consectetuer duis ut est. Dictum justo sed donec nec, erat ut gravida est purus aliquet quis, velit molestie tellus mauris ac natoque, dolor ut nulla et cursus etiam. Integer iaculis vel nec ut egestas, et nam praesent sed ut lorem, facilisis molestie sodales netus nostra mi tellus. Ligula porttitor adipiscing nec etiam lacus, libero in, enim odio imperdiet nunc vehicula velit lobortis. Primis orci et proin malesuada, pede nisl in erat condimentum, adipiscing a erat risus eget aenean, semper consequat penatibus. Nullam purus mauris duis nonummy.

    </div>
  </div>
</div>