<div class="row">
  <div class="main-content">
    <div class="col-sm-6">
      <img src="http://www.metmuseum.org/toah/images/h5/h5_67.187.70a.jpg" class="responsive-image">
    </div>
    <div class="col-sm-6">
		Cras mauris rutrum pharetra leo mi potenti, dapibus ac suspendisse placerat sit aliquam ipsum. Tempus ut ultricies nam pretium varius adipiscing, at tempor senectus eget sed id, pellentesque vitae. Egestas sit vehicula sociis, mauris etiam risus volutpat, pharetra libero nunc mauris. Sed vivamus pulvinar amet suspendisse consectetuer. Mauris ipsum aliquam feugiat. Viverra at integer, mauris erat justo. Ultrices velit ipsum vivamus auctor nonummy pariatur, vitae eleifend id dis amet et. Eu aliquet, esse elementum suspendisse. Ante sit, in sociosqu at orci.

    </div>
  </div>
</div>