<div class="row">
  <div class="main-content">
    <div class="col-sm-6">
      <img src="http://www.vangoghgallery.com/es/images/Van-Gogh_New-Template/prints-set3/print-cafe-terrace-on-place-du-forum.jpg" class="responsive-image">
    </div>
    <div class="col-sm-6">
		Leo scelerisque in, mollis mauris bibendum, tristique repellat, pretium hendrerit est eget sed, mauris in mollis volutpat dui non. Tincidunt metus ornare, facilisi commodo risus ante, tortor ac. Eros feugiat nulla donec id tellus, eget cursus aenean orci, sit eu nec enim, faucibus consequat iste. Non proin nonummy pellentesque pede donec. Libero ligula odio sit scelerisque, venenatis iaculis, suscipit tellus. Ut nam enim tellus, at id. Duis ligula ut convallis aliquam fermentum, imperdiet sapien suspendisse. Ac nullam. Blandit ultrices mus, vestibulum interdum consequat volutpat nisl rutrum nam. Mauris vel vitae sed ipsum tempor vehicula. Vel a suspendisse porttitor, quis in nulla non turpis, nunc lectus elit sed integer.
    </div>
  </div>
</div>