<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>

<nav>
  <div class="col-md-4"><a class="nav-item" role="menuitem" href="/pages/todo.html">Todo Application</a></div>
  <div class="col-md-4"><a class="nav-item" role="menuitem" href="/pages/project.html">My Project</a></div>
  <div class="col-md-4"><a class="nav-item" role="menuitem" href="/pages/extra.html">Extra</a></div>  
  <div class="col-md-4"><a class="nav-item" role="menuitem" href="/pages/funnySquares.html">Funny Squares</div>
</nav>

</body>
</html>