<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
</head>
<body>

  <header></header>
  <main>
    <div class"media-container">
      <audio controls="true">
        <source src="/media/ProleteR_-_01_-_April_Showers.mp3" type="audio/mpeg">
      </audio>
      <video width="320" height="240" controls="true">
        <source src="/media/denver_art_society_0.mp4" type="video/mp4">
      </video>
    </div>
  </main>
  <footer></footer>

</body>
</html>